/* css for index.html */

div.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: rgb(9,21,36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}